body {
    background-color: #83513e;
    border: 20px solid transparent;
    border-image: url("./laceborder.png") round 20;
}

h1 {
    color: #fad6d3;
}

h2 {
    color:#f6dfb3
}

p {
    color: #f6dfb3;
    font-size: 25px;
}

.spanchange {
    color: black;
    font-style: italic;
    font-size: 30px;
}

div {
    border-radius: 25px;
    border-color: #e7ae75;
    border: 5px;
    padding: 10px 15px;
    text-align: center;
    content-align: center;
}

#welcome {
    padding: 10px 15px;
}

ul {
    align-items: center;
    margin: 20px;
    padding: 10px;
}

li {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 4c-4-1-6 3-6 3s-2-4-6-3-4 6-2 8l8 8 8-8c2-2 2-7-2-8z" fill="%23F6DF83"></path></svg>');
    color: #f6dfb3;
    font-size: 25px;
}

li::marker {
    font-size: 40px;
    line-height: 0.4;
}

#me {
    width: auto;
    height: 200px;
    border: 15px solid transparent;
    border-image: url(https://www.freeiconspng.com/uploads/lace-border-png-16.png) 15 round;
}

a:link {
    color:#e7ae75;
}

a:hover {
    color:#fad6d3;
    text-decoration: underline;
}

a:visited {
    color:#f28aa1
}

table {
    border-radius: 10px;
    border: 5px solid #e7ae75
    content-align: center;
}

th {
    background-color: cornsilk;
    font-size: 20px;
    padding: 5px;
}

tr:nth-child(even) {
    background-color:#f6dfb3;
    color: black;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color:#e7ae75;
    color: black;
    font-size: 15px;
}

tr:hover {
    background-color: #f28aa1;
    color:#83513e;
}

form {
    background-color: #f6dfb3;
    color: #83513e;
}

iframe {
     width: auto;
    height: 300px;
    border: 15px solid transparent;
    border-image: url(https://www.freeiconspng.com/uploads/lace-border-png-16.png) 15 round;
}
